<div class="flex m-2">
    <turbo-frame target="turbo-shopping-item-index">   
        <%= link_to shopping_list.title, new_shopping_item_path(shopping_list.id),  class: "btn mb-3 bg-gray-100" %>
    </turbo-frame>       
</div>
