<div class="flex-col w-1/2 p-12">
    <h1 class="font-bold text-xl">Shopping Lists</h1>
    <turbo-frame target="turbo-shopping-list-index">   
        <div class="mt-8">
            <%= render "form", shopping_list: @shopping_list %>
        </div>
    </turbo-frame>
    <turbo-frame id="turbo-shopping-list-index">   
        <%= render @shopping_lists %>
    </turbo-frame>
</div>

